<html>
    <head>
        <link rel="stylesheet" href="styles/styles.css" />
    </head>
    <body>
        Welcome from StoneAge to CloudAge
        Welcome to feature Yogesh....!!!
    </body>
</html>